@import "src/fonts/fonts-woff"
@import "src/fonts/fonts-woff2"
@import "src/fonts/fonts"
@import "components/bootstrap-skins"
@import "components/mixin"

*
  margin: 0
  padding: 0
  border: 0
  font-size: 16px

html
  font-family: 'LatoRegular',sans-serif

header
  position: relative

section
  overflow: hidden

.video-block
  position: relative

.in
  position : absolute
  z-index : 2
  top : 0
  left : 0
  background-color: rgba(51, 51, 51, 0.2)
  min-width: 100%
  min-height: 100%
  width: 100%
  height: auto


.bg-video
  min-width: 100%
  min-height: 100%
  width: 100%
  height: auto
  z-index: -999
  margin-bottom: -5px

.button-menu-box
  position: fixed
  width: 60px
  height: 60px
  top: 103px
  left: 116px
  z-index: 100

.menu-toggle
  width: 60px
  height: 60px
  position: relative
  z-index: 100
  border: none
  background-color: transparent

  &:focus,
  &:active
    outline: none



.sandwich
  width: 55px
  height: 55px
  position: absolute
  top: 8px
  bottom: 0
  left: 0
  right: 0
  margin: auto
  z-index: 200
  display: block

.sw-topper
  display: block
  position: relative
  top: 0
  width: 55px
  height: 5px
  background: $blue
  border: none
  -webkit-transition: -webkit-transform 0.5s, top 0.2s
    transition: transform 0.5s, top 0.2s

.sw-bottom
  display: block
  position: relative
  width: 55px
  height: 5px
  top: 9px
  background: $blue
  border: none
  -webkit-transition: -webkit-transform 0.5s, top 0.2s
    transition: transform 0.5s, top 0.2s
  -webkit-transition-delay: 0.2s, 0s
    transition-delay: 0.2s, 0s

.sw-footer
  display: block
  position: relative
  width: 55px
  height: 5px
  top: 18px
  background: $blue
  border: none
  -webkit-transition: all 0.5s
    transition: all 0.5s
  -webkit-transition-delay: 0.1s
    transition-delay: 0.1s

.sandwich.active .sw-topper
  top: 10px
  -webkit-transform: rotate(-45deg)
    -ms-transform: rotate(-45deg)
      transform: rotate(-45deg)
.sandwich.active .sw-bottom
  top: 5px
  -webkit-transform: rotate(45deg)
    -ms-transform: rotate(45deg)
      transform: rotate(45deg)

.sandwich.active .sw-footer
  opacity: 0
  top: 0
  -webkit-transform: rotate(180deg)
    -ms-transform: rotate(180deg)
      transform: rotate(180deg)


.main-head
  position: absolute
  top: 0
  left: 0
  width: 100%
  padding: 122px 15px
  text-align: center

  &__head
    font-family: "LatoBlack"
    font-size: 62px
    color: #ffffff
    text-transform: uppercase

  &__head_mod
    font-family: "LatoLight"
    font-size: 62px
    color: #ffffff
    text-transform: uppercase


  &__template
    font-family: "LatoRegular"
    font-size: 34px
    color: #ffffff
    margin: 0
    padding: 85px 0 0

  &__for-web
    font-family: "LatoLight"
    font-size: 112px
    color: #ffffff

.form-box
  position: absolute
  left: 0
  bottom: 0
  width: 100%
  padding: 0 15px 140px
  z-index: 10

.form-start
  max-width: 370px
  margin: auto
  text-align: center
  padding: 30px
  background-color: #dbdbda
  border-radius: 5px

.form-field-box
  max-width: 310px
  overflow: hidden
  border: 1px solid #cccccc
  border-radius: 3px

.form-field
  width: 310px
  font-family: "LatoRegular"
  font-size: 20px
  color: #333333
  padding: 10px 25px

.error
  color: #d5290d

.form-button
  font-family: "LatoBold"
  font-size: 20px
  color: #ffffff
  padding: 18px 57px
  background-color: $blue
  text-transform: uppercase
  border-radius: 3px
  -webkit-box-shadow: 3px 3px 9px 3px rgba(0,0,0,0.3)
  -moz-box-shadow: 3px 3px 9px 3px rgba(0,0,0,0.3)
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.3)

.main-menu
  position: fixed
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, 0.96)
  z-index: 50
  right: 0
  top: 0
  display: none
  &__list
    list-style: none
    padding: 5%
  &__item
    padding: 15px 0
  &__link
    font-family: "LatoRegular"
    font-size: 14px
    color: #9d9d9d
    text-decoration: none
    text-transform: uppercase
  &__link:hover,
  &__link:focus
    cursor: pointer
    text-decoration: none
    color: $blue

/*About Us*/

.about
  text-align: center
  padding: 160px 0 45px

.about__head,
.features__head
 @include title(#333)

.about__head-content,
.features__head-content
  @include subtitle(#333)
  padding: 25px 0
  width: 80%
  margin: auto
  opacity: 0.8

.advantage
  padding: 30px 0
  &__logo-box
    float: right
    padding: 10px 0 0
  &__logo
    width: 88px
    height: 88px
    border-radius: 100%
    background-color: $blue
    padding: 4px 17px
  &__logo-label
    font-size: 56px
    color: #ffffff
  &__content
    text-align: left
    padding-bottom: 50px
  &__head
    @include title(#333)
  &__text
    @include subtitle(#333)
    padding: 20px 0 0

/*About Us End*/

/*Features*/

.features
  text-align: center
  padding: 99px 0 0
  background-color: #f1f1f1

.shadow
  height: 8px
  width: 100%
  background: linear-gradient(to bottom, #dedede, #e3e3e3, #f1f1f1)

.skills
  padding: 20px 0 0
  &__logo-label
    font-size: 70px
    color: #333333
    opacity: 0.2
  &__content
    text-align: left
    padding-bottom: 40px
  &__head
    font-family: "LatoRegular"
    font-size: 24px
    color: #333333
    padding-bottom: 20px
  &__text
    font-family: "LatoRegular"
    font-size: 20px
    color: #333333
    line-height: 33px
    opacity: 0.8

.features__banner
  padding-top: 30px

.features__banner
  width: auto
  margin: auto

/*Features End*/

/*Advantages*/

.advantages
  text-align: center
  padding: 105px 0 26px
  background-color: $red
  &__head
    @include title(#fff)
  &__head-content
    @include subtitle(#fff)
    padding: 30px 0
    width: 80%
    margin: auto
    opacity: 0.8

.steps
  padding: 40px 0
  &__box
    padding-bottom: 40px
  &__logo
    width: 88px
    height: 88px
    border-radius: 100%
    margin: auto
    padding: 12px 30px
    background-color: #ffffff
    font-family: "LatoBold"
    font-size: 45px
    color: $red
  &__head
    font-family: "LatoRegular"
    font-size: 24px
    color: #ffffff
    padding-top: 10px
  &__content
    font-family: "LatoRegular"
    font-size: 20px
    color: #ffffff
    opacity: 0.8
    padding-top: 10px
    line-height: 38px



/*Advantages End*/


/*Testimonials*/

.testimonials
  padding: 109px 15px 0
  text-align: center
  background-color: #f1f1f1
  &__head
    @include title(#333)

.slider__slide-box
  max-width: 100%
  height: auto
  padding: 240px 0 160px
  width: 100%

.slider__content
  @include subtitle(#333)
  opacity: 0.8
  width: 65%
  margin: auto
  padding: 20px

.slider__name
  font-family: "LatoRegular"
  font-size: 24px
  color: $blue

/*Testimonials End*/

/*Our Team*/

.our-team
  text-align: center
  padding: 110px 0 55px
  &__head
    @include title(#333)

.employee
  padding: 55px 0
  &__name
    font-family: "LatoRegular"
    font-size: 24px
    color: #333333
    padding-top: 10px
  &__post
    font-family: "LatoBlack"
    font-size: 16px
    color: $blue
  &__cover
    font-family: "LatoRegular"
    font-size: 20px
    color: #333333
    opacity: 0.8
    line-height: 34px

/*Our Team End*/

/*FAQs*/

.faqs
  text-align: center
  padding: 80px 0
  &__head
    @include title(#333)
  &__block
    position: relative
    width: 100%
    height: 100%
    min-height: 455px
  &__block-inner
    position: absolute
    width: 100%
    top: 0
    left: 0
    padding: 50px 0
  &__box
    text-align: left
    margin-bottom: 30px
    padding: 15px 17px
    background-color: $red
    border-radius: 3px
  &__question
    font-family: "LatoRegular"
    font-size: 24px
    color: #ffffff
    background: url("../images/plus-ico.png") no-repeat 100% 40%
    padding-top: 5px
  &__question:hover,
  &__question:focus
    cursor: pointer
  &__answer
    font-family: "LatoRegular"
    font-size: 20px
    color: #ffffff
    padding-top: 12px
    line-height: 30px

/*FAQs End*/

/*How Its Work*/

.how-its-work
  padding: 160px 0 0
  &__video
    width: 100%
    height: auto
  &__head
    @include title(#333)
    margin-top: 0
  &__head-text
    @include subtitle(#5dbdfe)
    padding-top: 30px
  &__content
    font-family: "LatoRegular"
    font-size: 20px
    color: #333333
    opacity: 0.8
    padding-top: 10px
    line-height: 34px

.no-border
  padding: 0

.gallery
  padding: 112px 15px 0
  &__item-box
    position: relative
  &__item-box:hover>.gallery__adit
    opacity: 1
  &__img
    width: auto
    margin: auto
  &__adit
    display: block
    position: absolute
    top: 40%
    left: 40%
    opacity: 0
    transition: all 0.5s
  &__adit:hover
    cursor: pointer

/*How Its Work End*/

/*Latest From the Blog*/

.blog
  text-align: center
  padding: 101px 0
  background-color: #f1f1f1
  &__head
    @include title(#333)
  &__head-content
    @include subtitle(#333)
    opacity: 0.8
    width: 80%
    margin: auto
    padding-top: 30px
  &__box
    position: relative
    margin-top: 77px
    width: 100%
    height: auto
    -webkit-box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.1)
    -moz-box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.1)
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.1)
  &__img
    width: auto
    margin: auto
  &__preview-content
    position: absolute
    left: 5%
    bottom: 4%
    text-align: left
    opacity: 0
    transition: all 0.5s
  &__publish
    font-family: "LatoBlack"
    font-size: 16px
    color: #cfcfcf
    margin: 0
  &__preview
    font-family: "LatoRegular"
    font-size: 24px
    color: #ffffff
  &__link
    display: block
    position: absolute
    top: 5%
    right: 5%
    width: 50px
    height: 50px
    border-radius: 100%
    background-color: $blue
    padding: 8px 14px
    opacity: 0
    transition: all 0.5s
    text-decoration: none
  &__link:hover,
  &__link:focus
    cursor: pointer
    text-decoration: none

  &__link-label
    font-size: 24px
    color: #ffffff

.blog__box:hover>.blog__preview-content,
.blog__box:hover>.blog__link
  opacity: 1


/*Latest From the Blog End*/

/*Our partners*/

.partners
  text-align: center
  padding: 120px 0 111px
  &__head
    @include title(#333)
  &__logo
    width: auto
    margin: auto

.partners-box
  padding-top: 65px

/*Our partners End*/

/*Contact us*/

.contact
  text-align: center
  padding: 110px 0 50px
  background: url("../images/bg-contact.jpg") repeat
  &__head
    @include title(#fff)
  &__box
    padding-top: 50px
  &__address
    font-family: "LatoBold"
    font-size: 20px
    color: #ffffff
  &__phone
    font-family: "LatoRegular"
    font-size: 20px
    color: #ffffff

.social-networks
  &__box
    height: 50px
    width: 180px
    margin: 50px auto 0
  &__list
    list-style: none
  &__item
    display: block
    position: relative
    float: left
    width: 50px
    height: 50px
    border-radius: 100%
    background-color: $blue
    margin-left: 15px
    padding: 13px
    overflow: hidden
  &__item:before
    display: block
    position: absolute
    top: 0
    right: 0
    bottom: 0
    content: ""
    width: 0
    border-radius: 100%
    background: rgba(255, 255, 255, 0.5)
    transition: all .3s ease
  &__item:hover:before
     width: 50px
  &__item:first-child
    background-color: #3b579d
    margin-left: 0

  &__item:last-child
    background-color: $red

  &__item-link
    display: block
    position: relative
    text-decoration: none
    z-index: 2

  &__item-link:hover,
  &__item-link:focus
    text-decoration: none

  &__item-label
    font-size: 24px
    color: #ffffff

.copyright
  font-family: "LatoRegular"
  font-size: 14px
  color: #ffffff
  opacity: 0.1
  padding-top: 70px

/*Contact us End*/

/*Button up*/

.up
  position: fixed
  right: 30px
  bottom: 360px
  z-index: 100

.button-up
  display: block
  width: 55px
  height: 55px
  border-radius: 100%
  background-color: $blue
  padding: 0 8px
  text-decoration: none

.button-up:hover,
.button-up:focus
  text-decoration: none
  background-color: #7fcbff

.button-up__arrow
  font-size: 40px
  color: #ffffff

.button-up.mPS2id-highlight
  display: none

/*Button up End*/

/*Footer*/

footer
  width: 100%
  height: 440px

/*Footer End*/

@import "components/media"
