.carousel-indicators .active
  background-color: #333333
  width: 8px
  height: 8px
  margin: 1px
  border: 1px solid #333333

.carousel-indicators li
  border: 1px solid #cccccc
  background-color: #cccccc
  width: 8px
  height: 8px
  border-radius: 8px

.carousel-indicators
  bottom: 112px

.carousel-caption
  bottom: auto
  top: 33px


















