$fz-30: 30px
$fz-20: 20px
$fz-15: 15px
$distance: 30px
@mixin distance-block
  padding-top: $distance
  padding-bottom: $distance

@media screen and ( max-width: 400px )
  .form-box
    position: relative

  .button-menu-box
    top: 5px
    left: 5px
    width: 40px
    height: 40px

  .menu-toggle
    width: 40px
    height: 40px

  .sandwich
    width: 35px
    height: 35px

  .sw-topper
    width: 40px

  .sw-bottom
    width: 40px
    top: 7px

  .sw-footer
    width: 40px
    top: 14px


  .main-menu__item
    padding: 8px 0

  .main-head
    padding: 55px 15px 0 15px

  .main-head__head,
  .main-head__head_mod,
  .main-head__for-web
    font-size: 30px

  .main-head__head
    margin: 0

  .main-head__template
    font-size: 16px
    padding: 0

  .form-box
    padding: 30px 15px 0

  .form-start
    width: 280px
    margin: auto

  .form-button
    padding: 18px 14px

  .about
    padding: 30px 0

  .about__head
    font-size: $fz-30

  .about__head-content
    width: 100%
    font-size: $fz-15
    padding: 10px 15px

  .advantage
    padding: 15px 0

  .advantage__logo-box
    float: none
    padding: 0

  .advantage__head
    font-size: $fz-20

  .advantage__content
    padding: 0 15px 30px
    text-align: center

  .advantage__logo
    margin: auto

  .advantage__text
    font-size: $fz-15

  .features
    padding-top: $distance

  .features__head
    font-size: $fz-30
    padding-bottom: 10px

  .features__head-content
    font-size: $fz-15
    padding: 0 15px
    width: 100%

  .skills__content
    text-align: center

  .skills__head
    font-size: $fz-20
    margin: 0

  .skills__text
    font-size: $fz-15
    line-height: 20px

  .advantages
    padding-top: $distance
    padding-bottom: 0

  .advantages__head
    font-size: $fz-30

  .advantages__head-content
    font-size: $fz-15
    padding: 0 15px
    width: 100%

  .steps
    padding: $distance

  .steps__box
    padding-top: $distance

  .steps__head
    font-size: $fz-20
    padding: 0

  .steps__content
    font-size: $fz-15
    padding: 0
    line-height: 25px

  .testimonials
    padding-top: $distance

  .testimonials__head
    font-size: $fz-30

  .slider__slide-box
    padding: 195px 0 60px

  .slider__content
    font-size: 13px
    padding-top: 10px
    width: 100%

  .carousel-caption
    top: 0
    padding: 0

  .carousel-indicators
    bottom: 20px

  .our-team
    @include distance-block

  .our-team__head
    font-size: $fz-30
    padding-bottom: $distance

  .employee
    padding-top: 0
    padding-bottom: $distance

  .employee__name
    font-size: $fz-20

  .employee__cover
    font-size: $fz-15
    line-height: 25px

  .faqs
    @include distance-block

  .faqs__head
    margin-top: 0

  .faqs__block
    min-height: 1080px

  .faqs__block-inner
    padding: 0

  .how-its-work
    padding-top: $distance

  .how-its-work__content-block
    text-align: center

  .how-its-work__head
    margin-top: 15px
    font-size: $fz-30

  .how-its-work__head-text
    font-size: $fz-20
    padding-top: 15px

  .how-its-work__content
    font-size: $fz-15
    line-height: 28px

  .gallery
    padding-top: $distance

  .blog
    @include distance-block

  .blog__head
    font-size: $fz-30

  .blog__head-content
    font-size: $fz-20
    padding: 0 15px
    width: 100%

  .blog__box
    //padding-top: $distance

  .blog__preview
    font-size: $fz-15

  .partners
    @include distance-block

  .contact
    @include distance-block

  .contact__head
    font-size: $fz-30

  .contact__box
    padding-top: $distance

  .contact__address,
  .contact__phone
    font-size: $fz-15

  .social-networks__box
    padding-top: 0

  .copyright
    padding-top: $distance


@media screen and ( min-width: 401px ) and ( max-width: 600px )
  .form-box
    position: relative

  .button-menu-box
    top: 5px
    left: 5px
    width: 40px
    height: 40px

  .menu-toggle
    width: 40px
    height: 40px

  .sandwich
    width: 35px
    height: 35px

  .sw-topper
    width: 40px

  .sw-bottom
    width: 40px
    top: 7px

  .sw-footer
    width: 40px
    top: 14px

  .main-menu__list
    padding: 2%

  .main-menu__item
    padding: 2px 0

  .main-head
    padding: 55px 15px 0 15px

  .main-head__head,
  .main-head__head_mod,
  .main-head__for-web
    font-size: 40px

  .main-head__head
    margin: 0

  .main-head__template
    font-size: 20px
    padding: 0

  .form-box
    padding: 30px 15px 0

  .form-start
    width: 310px
    margin: auto

  .form-button
    padding: 18px 29px

  .about
    padding: 30px 0

  .about__head
    font-size: $fz-30

  .about__head-content
    width: 100%
    font-size: $fz-15
    padding: 10px 15px

  .advantage
    padding: 15px 0

  .advantage__logo-box
    float: none
    padding: 0

  .advantage__head
    font-size: $fz-20

  .advantage__content
    padding: 0 15px 30px
    text-align: center

  .advantage__logo
    margin: auto

  .advantage__text
    font-size: $fz-15

  .features
    padding-top: $distance

  .features__head
    font-size: $fz-30
    padding-bottom: 10px

  .features__head-content
    font-size: $fz-15
    padding: 0 15px
    width: 100%

  .skills__content
    text-align: center

  .skills__head
    font-size: $fz-20
    margin: 0

  .skills__text
    font-size: $fz-15
    line-height: 20px

  .advantages
    padding-top: $distance
    padding-bottom: 0

  .advantages__head
    font-size: $fz-30

  .advantages__head-content
    font-size: $fz-15
    padding: 0 15px
    width: 100%

  .steps
    padding: $distance

  .steps__box
    padding-top: $distance

  .steps__head
    font-size: $fz-20
    padding: 0

  .steps__content
    font-size: $fz-15
    padding: 0
    line-height: 25px

  .testimonials
    padding-top: $distance

  .testimonials__head
    font-size: $fz-30

  .slider__slide-box
    padding: 195px 0 60px

  .slider__content
    font-size: 13px
    padding-top: 10px
    width: 100%

  .carousel-caption
    top: 0
    padding: 0

  .carousel-indicators
    bottom: 20px

  .our-team
    @include distance-block

  .our-team__head
    font-size: $fz-30
    padding-bottom: $distance

  .employee
    padding-top: 0
    padding-bottom: $distance

  .employee__name
    font-size: $fz-20

  .employee__cover
    font-size: $fz-15
    line-height: 25px

  .faqs
    @include distance-block

  .faqs__head
    margin-top: 0

  .faqs__block
    min-height: 1080px

  .faqs__block-inner
    padding: 0

  .how-its-work
    padding-top: $distance

  .how-its-work__content-block
    text-align: center

  .how-its-work__head
    margin-top: 15px
    font-size: $fz-30

  .how-its-work__head-text
    font-size: $fz-20
    padding-top: 15px

  .how-its-work__content
    font-size: $fz-15
    line-height: 28px

  .gallery
    padding-top: $distance

  .blog
    @include distance-block

  .blog__head
    font-size: $fz-30

  .blog__head-content
    font-size: $fz-20
    padding: 0 15px
    width: 100%

  .blog__box
    //padding-top: $distance

  .blog__preview
    font-size: $fz-15

  .partners
    @include distance-block

  .contact
    @include distance-block

  .contact__head
    font-size: $fz-30

  .contact__box
    padding-top: $distance

  .contact__address,
  .contact__phone
    font-size: $fz-15

  .social-networks__box
    padding-top: 0

  .copyright
    padding-top: $distance



@media screen and ( min-width: 601px ) and ( max-width: 767px )
  .form-box
    position: relative

  .button-menu-box
    top: 5px
    left: 5px
    width: 40px
    height: 40px

  .menu-toggle
    width: 40px
    height: 40px

  .sandwich
    width: 35px
    height: 35px

  .sw-topper
    width: 40px

  .sw-bottom
    width: 40px
    top: 7px

  .sw-footer
    width: 40px
    top: 14px

  .main-menu__list
    padding: 3%

  .main-menu__item
    padding: 3px 0

  .main-head
    padding: 45px 15px 0 15px

  .main-head__head,
  .main-head__head_mod,
  .main-head__for-web
    font-size: 55px

  .main-head__head
    margin: 0

  .main-head__template
    font-size: 30px
    padding: 0

  .form-box
    padding: 30px 15px 0

  .about
    padding: 30px 0

  .about__head
    font-size: $fz-30

  .about__head-content
    font-size: $fz-15
    padding: 10px 15px
    width: 100%

  .advantage
    padding: 15px 0

  .advantage__logo-box
    float: none
    padding: 0

  .advantage__head
    font-size: $fz-20

  .advantage__content
    padding: 0 15px 30px
    text-align: center

  .advantage__logo
    margin: auto

  .advantage__text
    font-size: $fz-15

  .features
    padding-top: $distance

  .features__head
    font-size: $fz-30
    padding-bottom: 10px

  .features__head-content
    font-size: $fz-15
    padding: 0 15px
    width: 100%

  .skills__content
    text-align: center

  .skills__head
    font-size: $fz-20
    margin: 0

  .skills__text
    font-size: $fz-15
    line-height: 20px

  .advantages
    padding-top: $distance
    padding-bottom: 0

  .advantages__head
    font-size: $fz-30

  .advantages__head-content
    font-size: $fz-15
    padding: 0 15px
    width: 100%

  .steps
    padding: $distance

  .steps__box
    padding-top: $distance

  .steps__head
    font-size: $fz-20
    padding: 0

  .steps__content
    font-size: $fz-15
    padding: 0
    line-height: 25px

  .testimonials
    padding-top: $distance

  .testimonials__head
    font-size: $fz-30

  .slider__slide-box
    padding: 195px 0 60px

  .slider__content
    font-size: 13px
    padding-top: 10px
    width: 100%

  .carousel-caption
    top: 0
    padding: 0

  .carousel-indicators
    bottom: 20px

  .our-team
    @include distance-block

  .our-team__head
    font-size: $fz-30
    padding-bottom: $distance

  .employee
    padding-top: 0
    padding-bottom: $distance

  .employee__name
    font-size: $fz-20

  .employee__cover
    font-size: $fz-15
    line-height: 25px

  .faqs
    @include distance-block

  .faqs__head
    margin-top: 0

  .faqs__block
    min-height: 1080px

  .faqs__block-inner
    padding: 0

  .how-its-work
    padding-top: $distance

  .how-its-work__content-block
    text-align: center

  .how-its-work__head
    margin-top: 15px
    font-size: $fz-30

  .how-its-work__head-text
    font-size: $fz-20
    padding-top: 15px

  .how-its-work__content
    font-size: $fz-15
    line-height: 28px

  .gallery
    padding-top: $distance

  .blog
    @include distance-block

  .blog__head
    font-size: $fz-30

  .blog__head-content
    font-size: $fz-20
    padding: 0 15px
    width: 100%

  .blog__box
    //padding-top: $distance

  .blog__preview
    font-size: $fz-15

  .blog__link
    top: 14%
    right: 13%

  .partners
    @include distance-block

  .contact
    @include distance-block

  .contact__head
    font-size: $fz-30

  .contact__box
    padding-top: $distance

  .contact__address,
  .contact__phone
    font-size: $fz-15

  .social-networks__box
    padding-top: 0

  .copyright
    padding-top: $distance


@media screen and ( min-width: 768px ) and ( max-width: 991px )

  .form-box
    position: relative

  .button-menu-box
    top: 5px
    left: 5px
    width: 40px
    height: 40px

  .menu-toggle
    width: 40px
    height: 40px

  .sandwich
    width: 35px
    height: 35px

  .sw-topper
    width: 40px

  .sw-bottom
    width: 40px
    top: 7px

  .sw-footer
    width: 40px
    top: 14px

  .main-menu__item
    padding: 8px 0

  .main-head
    padding: 45px 15px 0 15px

  .main-head__head,
  .main-head__head_mod,
  .main-head__for-web
    font-size: 55px

  .main-head__head
    margin: 0

  .main-head__template
    font-size: 30px
    padding: 0

  .form-box
    padding: 30px 15px 0

  .about
    padding: 30px 0

  .about__head
    font-size: $fz-30

  .about__head-content
    font-size: $fz-15
    padding: 10px 15px
    width: 100%

  .advantage
    padding: 15px 0

  .advantage__logo-box
    float: none
    padding: 0

  .advantage__head
    font-size: $fz-20

  .advantage__content
    padding: 0 15px 30px
    text-align: center

  .advantage__logo
    margin: auto

  .advantage__text
    font-size: $fz-15

  .features
    padding-top: $distance

  .features__head
    font-size: $fz-30
    padding-bottom: 10px

  .features__head-content
    font-size: $fz-15
    padding: 0 15px
    width: 100%

  .skills__content
    text-align: center

  .skills__head
    font-size: $fz-20
    margin: 0

  .skills__text
    font-size: $fz-15
    line-height: 20px

  .advantages
    padding-top: $distance
    padding-bottom: 0

  .advantages__head
    font-size: $fz-30

  .advantages__head-content
    font-size: $fz-15
    padding: 0 15px
    width: 100%

  .steps
    padding: $distance

  .steps__box
    padding-top: $distance

  .steps__head
    font-size: $fz-20
    padding: 0

  .steps__content
    font-size: $fz-15
    padding: 0
    line-height: 25px

  .testimonials
    padding-top: $distance

  .testimonials__head
    font-size: $fz-30

  .slider__slide-box
    padding: 195px 0 60px

  .slider__content
    font-size: 13px
    padding-top: 10px
    width: 100%

  .carousel-caption
    top: 0
    padding: 0

  .carousel-indicators
    bottom: 20px

  .our-team
    @include distance-block

  .our-team__head
    font-size: $fz-30
    padding-bottom: $distance

  .employee
    padding-top: 0
    padding-bottom: $distance

  .employee__name
    font-size: $fz-20

  .employee__cover
    font-size: $fz-15
    line-height: 25px

  .faqs
    @include distance-block

  .faqs__head
    margin-top: 0

  .faqs__block-inner
    padding: 45px 0

  .faqs__box
    padding: 15px 12px

  .faqs__question
    font-size: 18px

  .faqs__answer
    font-size: 14px

  .how-its-work
    padding-top: $distance

  .how-its-work__content-block
    text-align: center

  .how-its-work__head
    margin-top: 15px
    font-size: $fz-30

  .how-its-work__head-text
    font-size: $fz-20
    padding-top: 15px

  .how-its-work__content
    font-size: $fz-15
    line-height: 28px

  .gallery
    padding-top: $distance

  .blog
    @include distance-block

  .blog__head
    font-size: $fz-30

  .blog__head-content
    font-size: $fz-20
    padding: 0 15px
    width: 100%

  .blog__box
    //padding-top: $distance

  .blog__preview
    font-size: $fz-15

  .blog__link
    top: 14%
    right: 13%

  .partners
    @include distance-block

  .contact
    @include distance-block

  .contact__head
    font-size: $fz-30

  .contact__box
    padding-top: $distance

  .contact__address,
  .contact__phone
    font-size: $fz-15

  .social-networks__box
    padding-top: 0

  .copyright
    padding-top: $distance

@media screen and ( min-width: 992px ) and ( max-width: 1199px )
  .button-menu-box
    top: 25px
    left: 25px

  .main-menu__item
    padding: 12px 0

  .main-head
    padding: 15px 15px 0

  .main-head__head,
  .main-head__head_mod,
  .main-head__for-web
    font-size: 55px

  .main-head__head
    margin: 0

  .main-head__template
    font-size: 30px
    padding: 0

  .form-box
    padding: 0 15px 25px

  .about,
  .features,
  .advantage,
  .testimonials,
  .our-team,
  .faqs,
  .hou-its-work,
  .blog,
  .partners,
  .contact
    @include distance-block

  .carousel-caption
    top: 0

  .faqs__block-inner
    padding-top: $distance


@media screen and ( min-width: 1200px ) and ( max-width: 1400px )

  .button-menu-box
    top: 45px
    left: 45px

  .main-head
    padding: 25px 15px 0

  .main-head__head
    margin: 0

  .main-head__template
    padding: 0

  .form-box
    padding: 0 15px 35px

@media screen and ( min-width: 1401px ) and ( max-width: 1600px )

  .button-menu-box
    top: 45px
    left: 45px

  .main-head
    padding: 55px 15px 0

  .main-head__template
    padding: 0

  .form-box
    padding: 0 15px 75px

@media screen and ( min-width: 1601px ) and ( max-width: 1800px )
  .form-box
    padding: 0 15px 65px


