$blue: #5dbdfe
$red: #f34235
$fz-30: 30px
$fz-20: 20px
$fz-15: 15px
$distance: 30px

@mixin title($calor)
  font-family: "LatoRegular"
  font-size: 45px
  color: $calor

@mixin subtitle($calor)
  font-family: "LatoBold"
  font-size: 20px
  color: $calor

@mixin distance-block
  padding-top: $distance
  padding-bottom: $distance